.gdpr-block {
    padding: 10px 0;
    font-size: 16px;
    display: block;
    text-align: center;
}
.gdpr-block.covert {
	display: none;
}
.gdpr-block label input {
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
}
.gdpr-block label {
    color: #3b3b3b;
    vertical-align: middle;
    user-select: none;
    margin-bottom: 0;
    display: inline;
}

.gdpr-block label a{
    color:#A8002A;
    text-decoration: underline;
    font-weight: bold;
}